.search-query {
    display:none;
}
.navbar .nav{
    display: block;
    float: right;
}
.navbar .nav > li {
    float:right;   
}
.navbar .nav > li > a {
    color:white;   
}
.navbar .nav > li > a:hover {
    color:#D2DB81;   
}

.navbar .brand {
    display: none;
}
.content-columns{
   color:white;
}
body {
    color:white;
    background: #40631F url("img/forground.gif") no-repeat scroll center top;
    margin: 0 auto;
    overflow:hidden; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.container a{
    color:#ff5c00;
}
#content .pullquote {
    color:#ffffff;   
}
#content .discreet, #sidebar .discreet {
    color:white;  
}
#content div.documentByLine {
    color:white;   
}
#content .documentDescription, #content #description {
    color:white;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    top:200px;
    margin-bottom: 0;
    position: relative;
    right: 0;
    z-index: 1030;
}
.navbar-inner {
    background:#40631F url("img/grades.gif") repeat-x scroll left top;
    min-width: 1040px;
    min-height:0;
    box-shadow:none;
}
#header {
    background: url("img/header_white2.jpg") repeat;
    height: 116px;
    margin:0;
    position: relative;
}
.container {
    margin: 0 auto;
    width:1040px;
    position:relative;
    bottom:40px;
}
#portal-logo img{
    left: 26px;
    position: absolute;
    top: 25px;
    margin:0;
}
.navbar .nav .active{
    display: none;
    float: left;
}
.row-fluid {
    background: #143508 none repeat scroll 0 0;
    height: 50px;
    padding: 0;
}
.cell{
    background:url("img/footer.gif") repeat;
}
#doormat-container{
    background: transparent none no-repeat;
}
.doormatSection{
    float:left;
    padding-left:40px;
    padding-top:20px;
}
.row{
    margin:0;
}
.column-0 p{
    color: #F7F5E9;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
}
.column-0 a{
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.column-1 p{
    color: #F7F5E9;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
}
.column-1 a{
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.column-2 p{
    color: #D2DB81;
    font-size: 1.3em;
    line-height: 1.3em;
}
.column-2 a{
    float:right;
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.ploneCalendar .weekdays th{
    color:#ff5c00;
}
.breadcrumb{
    color:red;   
}
#left-column{
    margin-left:0;
}
.footer {
    text-shadow: none;
}
#topheader{
    min-height:45px;   
    text-align:right;  
    background:radial-gradient(at 60% top , #FFFFFF, #F6F4E8, #CBC299);
}
#social{  
    position: relative;
    right: 16px;
    top: 14px;
    float:right;
}
#social img{
    float:left;
}
#facebook{
    margin-left: 10px;
    margin-top: 5px;
}
#twitter{
    margin-left: 10px;
    margin-top: 5px;
}
#nica{
    float:right;   
    position: absolute;
    right: 16px;
    bottom: 18px;
}
#topheader a{
    color:#8EB048;
}
#listimg{
    height:380px;
}
.line{
    margin-top:1px;     
    margin-left: 10px;
}
#topheader p{
    color: #8EB048;
    line-height: 45px;
    margin-right: 16px;
    text-align: right;  
    margin-bottom:0;
}
#topheader p a:hover {
    color: #254A14;
}
#navigation{
    background-color:#143508;
    height: 50px;
    padding-left:10px;     
}
#navigation ul{
    margin:0;    
}
#navigation li{
    float: left;
    padding:17px;
    position: relative;
}
#navigation a{
    color:#D2DB81;
}