a:hover{
    text-decoration:none;  
}
body {
    color:#4C432D;
    background: #40631F url("img/headerbackground.jpg") no-repeat scroll center top;
    margin: 0 auto; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.border a{
    border-left:1px solid #D2DB81;
    padding:0 15px;
}
.breadcrumb{
    margin:0;   
}
.carousel{
    margin:0;
    height:379px;
}
.carousel .active, .carousel .next, .carousel .prev{
    display:none;
}
.caret{
    display:none;
}
.cell{
    background-color:#40631F;
    line-height:10px;
}
.content-columns{
   color:white;
}
.container a{
    color:#8EB048;
}
#content .pullquote {
    color:#ffffff;   
}
#content .discreet, #sidebar .discreet {
    color:#4C432D;  
}
#content div.documentByLine {
    color:#4C432D;   
}
#content .documentDescription, #content #description {
    color:#4C432D;
}
.container {
    margin: 0 auto;
    position:relative;
}
.column-0 p{
    color: #F7F5E9;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
    margin:0;
}
.column-0 a{
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.column-1 p{
    color: #F7F5E9;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    text-transform: uppercase;
    margin:0;
}
.column-1 a{
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.column-2 p{
    color: #D2DB81;
    font-size: 1.3em;
    line-height: 1.3em;
}
.column-2 a{
    float:right;
    color: #D2DB81;
    font-size: 1.2em;
    line-height: 1.3em;    
}
.dropdown-menu{
    border:none;   
    background-color:#40631F;
}
.dropdown-menu a{
    height:14px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:9;
}
ul.dropdown-menu li{
    height:20px;
    padding:0;
}
#doormat-container{
    background: transparent none no-repeat;
    margin:0;
} 
#doormat-container .doormatColumn{
    margin:0;   
}
#doormat-container dl{
    margin:0;   
}
#doormat-container.columns-3 .doormatColumn{
    width:auto;   
}
.doormatSection{
    float:left;
    padding-left:40px;
    padding-top:20px;
}
#facebook{
    margin-left: 10px;
    margin-top: 5px;
}
.row-fluid{
    display:none;   
}
.footer {
    text-shadow: none;
    color:#D2DB81;
    border-top-width:0;
    bottom:0;  
    padding:0; 
    top:0;
    background-color:#40631f;
}
div.scrollable div.items div.itemPadding{
    margin:0;   
}
#portal-footer{
    display:none;   
}
#portal-colophon{
    display:none;   
}
#portal-siteactions{
    display:none;
}
#portletFooterManager{
    display:none;
}
#portletBelowContentManager{
    display:none;   
}
#firstlist a{
    border-left-width:0;
}
#header {
    background: url("img/header_white2.jpg") repeat;
    height: 116px;
    margin:0;
    bottom:1px;
    position: relative;

}
#left-column{
    margin-left:0;
}
#listimg{
    height:380px;
}
.line{
    margin-top:1px;     
    margin-left: 10px;
}
#main{   
    margin:0;
}
div.navi{
    display:none;   
}
.navbar .nav{
    display: block;
}
.nav li{
    display: block;
    padding:18px 0;
}
.navbar .nav > li > a {
    color:#D2DB81;
    padding:0 15px;
    line-height:14px;
    border-right:1px solid #D2DB81;
}
.navbar .nav > li > a:hover {
    color:#ffffff;  
    padding:0 15px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover{
    background-color:#143508;   
}
.navbar .brand {
    display: none;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    position: relative;
    right: 0;
    z-index: 1030;
}
.navbar-inner {
    background:#143508;
    min-height:0;
    box-shadow:none;
}
.navbar .nav .active{
    float: left;
}
.navbar .btn-navbar{
    float:left;   
}
#navibar{
    bottom:0;
    width:auto;
    height:50px;
}
#nica{
    float:right;   
    position: absolute;
    right: 16px;
    bottom: 18px;
}
#portal-logo img{
    left: 26px;
    position: absolute;
    top: 25px;
    margin:0;
}
.ploneCalendar .weekdays th{
    color:#ff5c00;
}
div.position-0{
    margin-left:-100%
}
.row{
    background: url("img/content2.jpg") repeat-y;
    margin:0;   
}
.search-query {
    display:none;
}
#social{  
    position: relative;
    right: 16px;
    top: 14px;
    float:right;
}
#social img{
    float:left;
}
.span12{  
    margin:0px;
}
#secondary-nav a{
    border:0;   
}
#topheader{
    min-height:45px;   
    text-align:right;  
    background:radial-gradient(at 60% top , #FFFFFF, #F6F4E8, #CBC299);
}
#twitter{
    margin-left: 10px;
    margin-top: 5px;
}
#topheader a{
    color:#8EB048;
}
#topheader p{
    color: #8EB048;
    line-height: 45px;
    margin-right: 16px;
    text-align: right;  
    margin-bottom:0;
}
#topheader p a:hover {
    color: #254A14;
}
#topnav-collapse li:hover ul.dropdown-menu{
    display:block;
}
div.width-full{
    width:100%;   
}
@media (min-width: 1200px) {
    
   .container,
   .navbar-fixed-top .container,
   .navbar-fixed-bottom .container {
        width: 1040px;
  }
   .span12 {
        width: 1040px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 724px;
    }
    .span12 {
        width: 724px;
    }
    .collapse.in{
        width: 200px;   
        background-color:#40631f;
        height:auto; 
        top:16px;
        padding:5px;
    }
    .navbar .nav .active{
        float:none;   
    }
    .nav li{
        padding:0;    
    }
    .navbar .nav > li > a{
        border:0;
    }
    .nav-collapse .dropdown-menu{
        display:none;   
    }
    #topsearchbox{
        display:none;
    }
}
@media (max-width: 767px){
    .collapse.in{
        width: 200px;   
        background-color:#40631f;
        height:auto; 
        top:16px;
        padding:5px;
    }
    .navbar .nav .active{
        float:none;   
    }
    .nav li{
        padding:0;    
    }
    .navbar .nav > li > a{
        border:0;
    }
    .nav-collapse .dropdown-menu{
        display:none;   
    }
    #topsearchbox{
        display:none;
    }
}