.search-query {
    display:none;
}
.navbar .nav{
    display: block;
    float: right;
}
.navbar .nav > li {
    float:right;   
}
.navbar .nav > li > a {
    color:white;   
}
.navbar .nav > li > a:hover {
    color:#D2DB81;   
}

.navbar .brand {
    display: none;
}
body {
    background: #40631F url("img/forground.gif") no-repeat scroll center top;
    margin: 0 auto;
    overflow:hidden;

}

.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-bottom: 0;
    position: relative;
    right: 0;
    z-index: 1030;
}
.navbar-inner {
    background:#40631F url("img/grades.gif") repeat-x scroll left top;
    min-width: 1040px;
    box-shadow: none;
    min-height:0;
}
#header {
    background: url("i/forground.jpg") no-repeat scroll center -45px;
    height: 116px;
    position: relative;
    margin:0;
}
.container {
    margin: 0 auto;
}
#portal-logo img{
    left: 26px;
    position: absolute;
    top: 30px;
    margin:0;
}
.navbar .nav .active{
    display: none;
    float: left;
}
.row-fluid {
    background: #143508 none repeat scroll 0 0;
    height: 50px;
    padding: 0;
}