body{
    padding:0;   
}
#portal-globalnav{
    font-family: 'PT Serif Caption', serif;   
}
#portal-globalnav li#portaltab-news,#portal-globalnav li#portaltab-events{
    display:none;   
}
.portletNews p a{
    color:#000000;   
}
.portletNews h2 a{
    color:#ff0000;
    font-size:16px;
}
#portal-personaltools ul{
    margin:0;
}
#main{
    margin:0;   
    background:url("img/krain_background.png");
    padding:2% 0;
}
#content .documentDescription{
    color:#ff0000;   
}
.icons-on .row{   
    margin:0 auto;
    z-index:2;
}
.icons-on .managePortletsLink{
    margin-bottom:0;   
}
ul.submenu{
    margin:0;  
}
ul.submenu li a{
    margin:0;  
}
.state-private{
    color: #000000 !important;
}
#portal-globalnav ul.submenu li a{
    padding:0;
    margin-top:0;
    border-right:0;
    width:100%;
    color: #000000 !important;
    background:#E3E3E3;
    height:auto;
    line-height:39px;
}
#portal-globalnav ul.submenu li a:hover{
    padding:0;
    margin-top:0;
    border-right:0;
    width:100%;
    color: #000000;
    background:#E3E3E3;
    height:auto;
    line-height:39px;
}
#portal-globalnav ul.submenu li{
    border-bottom: 1px solid #C1C1C1;
    line-height:39px;
    height: 39px;
    display: block;
    width:100%;   
}
dl.actionMenu.activated dd{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;   
}
#portal-personaltools dd{
    padding:0;   
}
#portal-personaltools dd a{ 
    margin:0;
    color:#000000;
    border-bottom:1px solid #c1c1c1;
}
#doormat-container{
    background:red; 
    margin:0;
}
#doormat-container .doormatColumn{ 
    padding:1% 0;
}
#doormat-container p{
    color:#ffffff;   
}
#doormat-container dl{
    overflow:auto;   
}
.column-0 .doormatSection .doormatSectionBody{
    float:left;
    margin-right:5%;
}
.column-0 .doormatSection .doormatSectionBody:first-of-type{
    margin-top: 2%;
}
#doormat-container.columns-2 .column-0{
    background:#ff0000 url("img/leftfooterbackground2.png") no-repeat left;
}
.footer{
    background: linear-gradient(to left, #ff0000 50%, #ffffff 50%);
    box-shadow:none;
    border-top:0;
}
.portletNews .portletHeader{
    background:none;
}
#content img.tileImage, #content div.newsImageContainer{
    float:left;   
}
.portletNews .portletHeader a{
    font-size:24px;  
}
div.cell{
    position:static;   
    margin:0;
}
#header{   
    background:#000000;
    margin:0 auto;
}
#header .row{
    z-index:3;   
}
div.width-full{
    left:0;
    margin:0;
}
#portal-logo{
    background:#000000; 
    position:relative;
    z-index:2000;
    float:left;
    margin-bottom: 0;
}
#portal-colophon{
    background:#000000;
    margin-bottom:0;
}
#portal-colophon p{
    margin-bottom:0;
}
.upper{
    text-transform: uppercase;   
}
#portal-personaltools{
    background:#000000;
}
#portal-personaltools a{
    color:#ffffff;
}
#portal-logo img{
    margin: 5%;
}
#portal-globalnav{
    background:#3f3e3d;
    height: 39px;
    clear: none;
    float: left;
    margin-top: 71px;
}
#portal-globalnav li{
    border-right:1px solid #ffffff;
    max-width:100px;
    line-height:39px;
    height: 39px;
    display: inline-block;
}
#portal-globalnav li:last-of-type{
    border-right:0;
}
#portal-globalnav .selected{
    background:#ff0000;
}
#portal-globalnav .selected+#portal-globalnav li.plain a{
    border:0;
}
#portal-globalnav li.plain a{
    background:#3f3e3d;
    color:#ffffff;
    padding:0;
    text-align:center;
    line-height: 1em;
    margin-top:5px;
    text-decoration:none;
    min-width: 0;
    border:0;
    font-size:12px;
}
#portal-globalnav li.selected a{
    background:#ff0000;
    padding:0;
    text-align:center;
    line-height: 1em;
    margin-top:5px;
    border:0;
    text-decoration:none;
    min-width: 0;
    font-size:12px;
}
#portal-globalnav li.selected a:hover{
    background:#ff0000;
    padding:0;
    text-align:center;
    line-height: 1em;
    margin-top:5px;
    border:0;
    text-decoration:none;
    color:#ffffff;
    min-width: 0;
    font-size:12px;
}
.row{
    margin:0;   
}
#header .row{
    margin:0 auto;   
}
#doormat-container.columns-2 .column-0,#doormat-container.columns-2 .column-1{
    margin:0;   
}
.footer{
    padding:0;   
}
.footer .row{
    margin:0 auto;   
}
dl.portlet ul.navTreeLevel0 > .navTreeItem{
    border:0;   
}
dl.portlet dt, div.portletAssignments div.portletHeader{
    background:none;   
}
#portal-column-one .portletWrapper .portlet .portletItem{
    margin-left:0;   
}
#portal-column-one{
    margin-bottom:1%;   
}
#portal-column-one,#portal-column-two{
    margin-left:2%;       
}
#portal-column-two .portletWrapper{
    background-color:rgba(192,192,192,0.3);
}
#portal-column-content{
    background-color:rgba(192,192,192,0.3);
}
@media (min-width: 1200px){
    #portal-columns .row,#header .row,.footer .row,div.row{
        width:1040px;   
    }
    #portal-column-content{
        width:65%; 
    }
    #portal-column-one{
        width:33%;
    }
    #portal-column-two{
        width:33%;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:45%;   
    }
    .footer #doormat-container .column-1{
        width:55%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 82%;
    }
}
@media (min-width: 980px) and (max-width:1199px){ 
    #portal-columns.row,#header .row,.footer .row,div.row{
        width:870px;   
    }
    #portal-column-content{
        width:65%; 
    }
    #portal-column-one{
        width:33%;
    }
    #portal-column-two{
        width:33%;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:55%;   
    }
    .footer #doormat-container .column-1{
        width:45%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 78.6%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .icons-on .row,#header .row{
        width:680px;   
    }
    .footer .row{
        width:100%;   
    }
    #portal-column-content{
        width:100%; 
    }
    #portal-column-one{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    #portal-column-two{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:100%;  
        background:#ffffff;
    }
    .column-0 .doormatSection .doormatSectionBody{
        margin-right:0;
        width:33%;
    }
    .column-0 .doormatSection .doormatSectionBody p{
        text-align:center;
    }
    .footer #doormat-container .column-1{
        width:100%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 100%;
    margin-top:0;
    }
}
@media (max-width: 767px){
    .icons-on .row,#header .row,.footer .row{
        width:480px;   
    }
    .footer .row{
        width:100%;   
    }
    #portal-column-content{
        width:100%; 
    }
    #portal-column-one{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    #portal-column-two{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:100%;  
        background:#ffffff;
    }
    .column-0 .doormatSection .doormatSectionBody{
        margin-right:0;
        width:33%;
    }
    .column-0 .doormatSection .doormatSectionBody p{
        text-align:center;
    }
    .footer #doormat-container .column-1{
        width:100%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 100%;
    margin-top:0;
    }
}