body{
    padding:0;   
}
small{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
#viewlet-above-content-body{
    display:none;   
}
#content .documentFirstHeading{
    font-family: 'Montaga', serif;
    font-size:18px;
}
#portal-globalnav{
    font-family: 'PT Serif Caption', serif;   
}
#portal-globalnav li#portaltab-news,#portal-globalnav li#portaltab-events{
    display:none;   
}
.portletNews p a{
    color:#000000;  
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
.portletNews h2 a{
    color:#ff0000;
    font-size:14px;
    font-family: 'Montaga', serif;
    font-style: italic;
}
#portal-personaltools ul{
    margin:0;
}
#main{
    margin:0;   
    background:url("img/krain_background.png");
    padding:2% 0;
}
#content .documentDescription{
    color:#ff0000;
    font-family: 'Montaga', serif;
    font-size:14px;
    font-style: italic;
}
#content-core p{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#000000;
}
.icons-on .row{   
    margin:0 auto;
    z-index:2;
}
.icons-on .managePortletsLink{
    margin-bottom:0;   
}
ul.submenu{
    margin:0;  
}
ul.submenu li a{
    margin:0;  
}
.state-private{
    color: #000000 !important;
}
#portal-globalnav ul.submenu li a{
    padding:0;
    margin-top:0;
    border-right:0;
    width:100%;
    color: #000000 !important;
    background:#E3E3E3;
    height:auto;
    line-height:23px;
    font-family: 'Montaga', serif;
    font-size:12px;
    margin:0;
}
#portal-globalnav ul.submenu li a:hover{
    padding:0;
    margin-top:0;
    border-right:0;
    width:100%;
    color: #000000;
    background:#E3E3E3;
    height:auto;
    line-height:23px;
}
#portal-globalnav ul.submenu li{
    border-bottom: 1px solid #C1C1C1;
    line-height:22px;
    height: 23px;
    display: block;
    width:100%;   
    border-right:0;
}
dl.actionMenu.activated dd{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;   
}
#portal-personaltools dd{
    padding:0;   
}
#portal-personaltools dd a{ 
    margin:0;
    color:#000000;
    border-bottom:1px solid #c1c1c1;
}
#doormat-container{
    background:red; 
    margin:0;
}
#doormat-container .doormatColumn{ 
    padding:1% 0;
}
#doormat-container p{
    color:#ffffff;  
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}
#doormat-container dl{
    overflow:auto;   
}
.column-0 .doormatSection .doormatSectionBody{
    float:left;
    margin-right:5%;
}
.column-0 .doormatSection .doormatSectionBody:first-of-type{
    margin-top: 2%;
}
#doormat-container.columns-2 .column-0{
    background:#ff0000 url("img/leftfooterbackground2.png") no-repeat left;
}
.footer{
    background: linear-gradient(to left, #ff0000 50%, #ffffff 50%);
    box-shadow:none;
    border-top:0;
}
.portletNews .portletHeader{
    background:none;
}
#content img.tileImage, #content div.newsImageContainer{
    float:left;   
}
.portletNews .portletHeader a{
    font-size:19px;  
    font-family: 'Montaga', serif;
}
div.cell{
    position:static;   
    margin:0;
}
#box{
    position:relative;   
}
#header{   
    background:#000000;
    margin:0 auto;
}
#header .row{
    z-index:3;   
}
#fullbgnav{
    height:40px;
    background:#3F3E3D;
    position:absolute;
    width:100%;
    bottom:13px;
}
div.width-full{
    left:0;
    margin:0;
}
#portal-logo{
    background:#000000; 
    position:relative;
    z-index:2000;
    float:left;
    margin-bottom: 0;
}
#portal-colophon{
    background:#000000;
    margin-bottom:0;
}
#portal-colophon p{
    margin-bottom:0;
}
.upper{
    text-transform: uppercase;   
}
#portal-personaltools{
    background:#000000;
}
#portal-personaltools a{
    color:#ffffff;
    font-family: 'PT Serif Caption', serif;
    font-size:16px;
}
#portal-logo img{
    margin: 5%;
}
#portal-globalnav{
    background:#3f3e3d;
    height: 40px;
    clear: none;
    float: left;
    margin-top: 71px;
}
#portal-globalnav li{
    max-width:100px;
    height: 40px;
    display: inline-block;
}
#portal-globalnav li:last-of-type{
    border-right:0;
}
#portal-globalnav .selected,#portal-globalnav li.selected a{
    background:#ff0000;
}
#portal-globalnav li.plain a,
#portal-globalnav li.selected a,
#portal-globalnav li.selected a:hover{
    background:#3f3e3d;
    color:#ffffff;
    padding:0;
    text-align:center;
    text-decoration:none;
    min-width: 70px;
    border-top:0;
    font-size:12px;
    padding:0 4px;
    border-right:1px solid #ffffff;
    height:32px;
    margin:4px 0;
    line-height:14px;
}
#portal-globalnav li.selected a{
    background:#ff0000;
}
#portal-globalnav li.selected a:hover{
    background:#ff0000;
}
.row{
    margin:0;   
}
#header .row{
    margin:0 auto;   
}
#doormat-container.columns-2 .column-0,#doormat-container.columns-2 .column-1{
    margin:0;   
}
.footer{
    padding:0;   
}
.footer .row{
    margin:0 auto;   
}
dl.portlet ul.navTreeLevel0 > .navTreeItem{
    border:0;   
}
dl.portlet dt, div.portletAssignments div.portletHeader{
    background:none;   
}
#portal-column-one .portletWrapper .portlet .portletItem{
    margin-left:0;   
}
#portal-column-one{
    margin-bottom:1%;   
}
#portal-column-one,#portal-column-two{
    margin-left:2%;       
}
.section-search-properties #content,
.section-latest-listings #content,
.section-listing-collection #content{
    margin:0; 
    padding: 0 40px;
}
.section-search-properties #portal-columns,
.section-latest-listings #portal-columns,
.section-listing-collection #portal-columns{
    background:#ffffff;   
}
.listing-summary #search-form form span.option{
    width:32%;
}
.listing-summary #search-form .form-row-location .field,
.listing-summary #search-form .form-row-price .field,
.listing-summary #search-form .form-row-beds-baths .field,
.listing-summary #search-form .form-row-sizes .field{
    width:32%; 
    padding:0;
    margin:1% 0 0 0;
}
.listing-summary #search-form .form-rows .field {
    margin:1% 0 0 0;
    padding:0;
}
.listing-summary #search-form .form-rows #formfield-form-widgets-location_type{ 
    padding: 8px 10px;
    border: 1px solid #D1D1D1;
}
#content ul.formTabs, #content-core ul.formTabs {
    background: none;
    border: medium none;
    margin-bottom: 0;
    margin-top: 12px;
}
#content-views a, #content li.formTab a, #content-core li.formTab a {
    background:#D2DB81;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 0.4em 0.2em 0.7em #CCCCCC;
    color: #4C432D;
}
.listing-summary #search-form .form-rows {
    border-top: 1px solid #D1D1D1;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.listing-summary #search-form .form-row-listing-type,
.listing-summary #search-form .form-row-sizes,
.listing-summary #search-form .form-row-other{
    border-top: 0;
}
.listing-summary #search-form .form-row-listing-type{
    margin-bottom:1%;   
}
#contentActionMenus{
    top:0;   
}
#contentActionMenus dl{
    margin-bottom:0;   
}
.label, .badge {
    background: none;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    color:#000000;
}
#content-views li.selected a,
#content-views li a:hover,
#content li.formTab a.selected,
#content li.formTab a:hover,
#content-core li.formTab a.selected, #content-core li.formTab a:hover{
    background:#40631F;
    color: #F7F5E9;  
}
.listing-summary #search-form .form-row-price #formfield-form-widgets-location_city #form-widgets-location_city{
    width:90%;   
    padding:4px 0;
}
.field input[type="text"]{
    padding:4px 0;   
}
.listing-summary #search-form .form-rows #formfield-form-widgets-location_type .horizontal,
#formfield-form-widgets-listing_type .horizontal{
    display:none;   
}
.listing-summary #search-form form .form-row-other .field span.option{
    width: 25%;   
}
.form-row-tabbed dd.formPanel{
    margin:0;
    padding:0;
}
#content .form-row-tabbed .enableFormTabbing{
    margin:0;   
}
#content .listing-summary dd{
    margin:0;   
}
#content .row{
    margin-top:2%;    
}
#content .position-0,
#content .position-5,
#content .position-10{
    background-color:rgba(192,192,192,0.3);
}
.content_box{
    background:linear-gradient(#ffffff, #c1c1c1); 
    margin:0 10%;
}
.content_box:first-of-type{ 
    margin-top:7%;
}
.content_box:last-of-type{ 
    margin-bottom:7%;
}
#content .content_box  p{
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    text-transform: uppercase;
    color:#000000;
    text-align:center;
    overflow:auto;
    position:relative;
}
#content .content_box  p a{
    color:#000000;
    position:absolute;
    left: 32%;
    right: 0;
    top: 30%;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff,
    0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff,
    -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    3px 5px 3px #000000;
}
#content .content_box img{
    float:left;   
}
#content p, #content table, #content dl, dl.portlet p, dl.portlet{
    margin-bottom:5%;   
}
.width-5 div.position-10 .galleria-container img{
    height:110px !important;
    width:170px !important;
    position:static !important; 
}
.width-5 .galleria-thumbnails-container{
    display:none;   
}
.width-5 .galleria-stage{
    float:left;   
    height:110px !important;
    width:170px !important;
    position:static !important;
}
.width-5 .galleria-container,.width-5 .galleria-inner{
    height:auto !important;
}
.width-5 .galleria-info{
    position:static;   
}
.listing-summary h2{
    font-size:17px;   
}
#content #show-form{
    margin:0;   
}
#content dd{
    padding:0;   
    margin:0; 
}
table.listing tr.odd th, table.listing tr.even th{
    background: #40631F;
    color: #D2DB81;
    line-height: 26px;
}
#portal-column-two{
    margin:0;   
}
#portal-column-two .portletWrapper{
    padding: 25px 7% 0 7%;   
}
#portal-column-two .portletWrapper .portlet{
    background: #456E20;
    border-radius: 8px;
    box-shadow: 0 0 13px -1px #000000;
    padding-bottom: 20px;
    color:#ffffff;
}
#portal-column-two .portletWrapper .portlet .label{
    color:#ffffff;
}
#portal-column-two .portletAgentInformation .portletItem{
    padding: 10% 15% 5%;
}
.row .field{
    margin-right: 20px;   
}
.field input[type="text"] {
    padding-left: 0;
    padding-right: 0;
}
dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd{
    padding:0; 
    margin:0;
}
.formHelp{
    color: #FFFFFF;
}
@media (min-width: 1200px){
    #portal-columns .row,#header .row,.footer .row,div.row{
        width:1080px;   
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:45%;   
    }
    .footer #doormat-container .column-1{
        width:55%;   
    }
    ul.submenu{  
        width:100%; 
    }
    ul.submenu li a{  
        width:100%;
    }
    div.width-full{
        width:100%;
    }
    div.width-3\:4{
        width:65%;
    }
    div.width-1\:4{
        width:35%;
    }
    #portal-colophon{
        width:100%;
    }
    #portal-globalnav{
        width: 82.8%;
    }
    #content .width-5{
        width:32.3%;
    }
    #content .position-5 {
        margin-left:1.5%;
    }
    #content .position-10 {
        margin-left:1.5%;
    }
    #content .width-10{
        width:66.1%;   
    }
    #content .width-16{
        width:100%;   
    }
    .form-row-listing-type .field span.option {
    clear: none;
    float: left;
    width: 49%;
    }
    select.choice-field {
    width: 100%;
    }
    .field input[type="text"] {
    width: 99%;
    }
    select {
    width: 47%;
    }
}
@media (min-width: 980px) and (max-width:1199px){ 
    #portal-columns.row,#header .row,.footer .row,div.row{
        width:870px;   
    }
    #portal-column-content{
        width:65%; 
    }
    #portal-column-one{
        width:33%;
    }
    #portal-column-two{
        width:33%;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:55%;   
    }
    .footer #doormat-container .column-1{
        width:45%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 78.6%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .icons-on .row,#header .row{
        width:680px;   
    }
    .footer .row{
        width:100%;   
    }
    #portal-column-content{
        width:100%; 
    }
    #portal-column-one{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    #portal-column-two{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:100%;  
        background:#ffffff;
    }
    .column-0 .doormatSection .doormatSectionBody{
        margin-right:0;
        width:33%;
    }
    .column-0 .doormatSection .doormatSectionBody p{
        text-align:center;
    }
    .footer #doormat-container .column-1{
        width:100%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 100%;
    margin-top:0;
    }
}
@media (max-width: 767px){
    .icons-on .row,#header .row,.footer .row{
        width:480px;   
    }
    .footer .row{
        width:100%;   
    }
    #portal-column-content{
        width:100%; 
    }
    #portal-column-one{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    #portal-column-two{
        width:100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .container{
        width:100%;   
    }
    .footer #doormat-container .column-0{
        width:100%;  
        background:#ffffff;
    }
    .column-0 .doormatSection .doormatSectionBody{
        margin-right:0;
        width:33%;
    }
    .column-0 .doormatSection .doormatSectionBody p{
        text-align:center;
    }
    .footer #doormat-container .column-1{
        width:100%;   
    }
    ul.submenu{  
    width:100%; 
    }
    ul.submenu li a{  
    width:100%;
    }
    div.width-full{
    width:100%;
    }
    #portal-colophon{
    width:100%;
    }
    #portal-globalnav{
    width: 100%;
    margin-top:0;
    }
}